@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes slideInLeft {
    from { transform: translateX(-100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
  }
  
  @keyframes slideInTop {
    from { transform: translateY(-100%); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
  }
  
  .fade-in {
    animation: fadeIn 0.5s ease-out;
  }
  
  .slide-in-left {
    animation: slideInLeft 0.5s ease-out;
  }
  
  .slide-in-top {
    animation: slideInTop 0.3s ease-out;
  }
  
  .delay-0 { animation-delay: 0s; }
  .delay-1 { animation-delay: 0.1s; }
  .delay-2 { animation-delay: 0.2s; }
  .delay-3 { animation-delay: 0.3s; }
  .delay-4 { animation-delay: 0.4s; }